<div class="center hero-unit">
<% provide(:title, 'Help') %>
<h1>Help</h1>
 <p>
    Ответственный по вопросам :
	<a href = "https://vk.com/id55357025">	 Lydia Teufel</a>
</p>
 <p>
	Также задать вопрос можно в группе 
	<a href = "https://vk.com/club15086197"> точка сингулярности</a>
 </p>
</div>

<%= link_to image_tag("preview-logo-nasa.png", alt: "The Point of Singularity"), 'https://vk.com/club15086197' %>



